{{#section 'css'}}
<link rel="stylesheet" href="/css/successcheck.css">
{{/section}}

{{#section 'js'}}
<script src="/js/successcheck.js"></script>
{{/section}}

{{#section 'customCate'}}
<h2>Chức năng</h2>
<div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action active">Đăng phòng</a>
    <a href="#" class="list-group-item list-group-item-action ">Danh sách phòng đã dăng</a>
    <a href="#" class="list-group-item list-group-item-action ">Danh sách phòng được liên
        hệ</a>
</div>

{{/section}}

<div class="recommended_items">
    <!--recommended_items-->
    <div style="clear: both; margin-top: 10px;"></div>
    <h2 class="title text-center">Đăng phòng</h2>
    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="success-checkmark">
            <div class="check-icon">
                <span class="icon-line line-tip"></span>
                <span class="icon-line line-long"></span>
                <div class="icon-circle"></div>
                <div class="icon-fix"></div>
            </div>
        </div>
    </div>
</div>